input {
	padding: 8px 8px 8px 16px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
}

button {
	margin: 16px 0 0 0;
}

input[type='radio'] {
	width: 16px;
	height: 16px;
	margin: 0;
}

.radio-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 4px;
}

.radio-wrapper label {
	margin-left: 8px;
	margin-bottom: 0;
}

.selectable-items-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 18px;
	margin-top: 16px;
}

.file-importer {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.file-importer label {
	margin: 0;
}

#file-field {
	margin: 0 16px;
	padding: 8px;
	height: auto;
}

.import-container-button {
	margin: 0 !important;
}
