body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	margin: 0;
	padding: 8px 16px;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #0148b1;
	background-color: #f7fcff;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #5c5c5c;
	border-radius: 4px;
}

h1 {
	margin: 0;
	font-size: 32px;
	font-weight: 600;
}

h2 {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 600;
	color: #021f4a;
}

p {
	margin: 0;
}

a {
	background-color: #e9f3fc;
	padding: 4px 16px;
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
}

input {
	width: 256px;
	height: 36px;
	border: 1px solid #0148b1;
	border-radius: 4px;
	padding: 0 36px 0 16px;
	color: #0148b1;
	font-size: 16px;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 4px;
	background-color: #0148b1;
	padding: 10px 36px;
	color: #ffffff;
	transform: scale(1);
}

button:hover {
	background-color: #3b7bdc;
	transform: scale(1.05);
}

button:disabled {
	background-color: #abb5bf;
	cursor: not-allowed;
	transform: scale(1);
}

.invisible {
	display: none;
}

.visible {
	display: flex;
}

.visible-block {
	display: block;
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}

@media (min-width: 768px) {
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}
}
