* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 24px;

	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #0148b1;
	background-color: #f7fcff;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #e9f3fc;
}

::-webkit-scrollbar-thumb {
	background-color: #0148b1;
}

section {
	margin: 16px 0;
}

h1 {
	margin: 0;
	font-size: 32px;
	font-weight: 600;
}

h2 {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 600;
	color: #021f4a;
}

p {
	margin: 0;
}

a {
	background-color: #e9f3fc;
	padding: 6px 16px;
	border-radius: 4px;
	color: #0148b1;
	transition: all 0.2s ease-in;
}

a:visited {
	color: #0148b1;
}

a:hover {
	background-color: #d0e6f8;
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
}

ul {
	margin-block-end: 0;
	margin-block-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

li {
	list-style: none;
}

.menu ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

.menu-item {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 600;
	color: #021f4a;
	background-color: transparent;
	text-decoration: none;
}

.menu-item.selected {
	color: #0099ff;
}

input {
	width: 256px;
	height: 36px;
	border: 1px solid #0148b1;
	border-radius: 4px;
	padding: 0 36px 0 16px;
	color: #0148b1;
	font-size: 16px;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 4px;
	background-color: #0148b1;
	padding: 10px 36px;
	color: #ffffff;
	transform: scale(1);
	transition: all 0.2s ease-in;
}

button:hover {
	background-color: #3b7bdc;
	transform: scale(1.05);
}

button:disabled {
	background-color: #abb5bf;
	cursor: not-allowed;
	transform: scale(1);
}

.page-wrapper {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.invisible {
	display: none;
}

.visible {
	display: flex;
}

.visible-block {
	display: block;
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}

@media (min-width: 768px) {
	h2 {
		font-size: 24px;
	}

	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}
}
