@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    display: flex;
    flex-wrap: wrap;

    height: 100px;
    width: 100%;
    background: #F1DDBF;

    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 90px;

    box-sizing: border-box;
    
}

nav .logo {
    color: #525E75;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin-right: 5px;
    
}

nav ul li a{
    color: #78938A;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
}

nav ul li a.hovered, nav ul li a:hover {
    background-color: #525E75;
}


footer {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #F1DDBF;
    border-top: 3px solid black;
    font-family: 'Open Sans', sans-serif;
    color: #78938A;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

#menu {
    display: none;
}

nav .menu-btn {
    display: none;
    color: #525E75;
    font-size: 35px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    footer {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    nav .menu-btn {
        display: block;
    }

    nav ul {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 80px;
        left: -200%;

        width: 100%;
        height: 75vh;
        text-align: center;
        background-color: #F1DDBF;
    }

    #menu:checked ~ ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
}

@media (max-width: 612px) {
    nav {
        width: 100%;
    }

    nav ul li {
        font-size: 17px;
    }

    nav .logo {
        font-size: 25px;
    }
}

@media (max-width: 469px) {
    nav {
        padding: 10px;
        width: 100vw;
    }

}



.content {
    display: flex;
    flex-direction: row;
    background: radial-gradient(#FFFFFF, #d8d5c5c4)
}

/* tiles */

.tiles-wrapper {
    padding-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tile {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 5px;
    background-color:#ccccb2d2;
    border: 5px solid #a1a9b8;
    margin-bottom: 40px;
}

.tile:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.tile_name {
    font-family: Helvetica, sans-serif;
    margin-bottom: 0px;
    text-align: center;
    color:#2d333f;
}

.tile_img {
    align-self: center;
    margin: 0%;
    padding: 0px;
    background-position: 100%;
    height: 250px;
    width: 250px;
    position:relative;
}




/* filters */

.search-filters {
    padding-top: 10px;
    max-height: fit-content;
    max-width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.row label {
    color: white;
}

.search-filters form {
    max-width: fit-content;
    max-height: fit-content;
    font-family: Arial Bold, sans-serif;
    min-width: 150px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;

    border: 3px solid black;
    border-radius: 8px;
}

/* not expanded */
.search-filters form fieldset {
    size: 1px;
    max-height: 0;
    background-color: #525E75;
    border: none;
    outline: 0;
    padding: 3px;
    margin: 5px;
    overflow: hidden;
}

/* expanded */
.search-filters form input:checked ~ fieldset {
    max-height: 400px;
}

.search-filters form .filter-title {
    display: none;
}

.search-filters form .filter {
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.search-filters form fieldset input {
    display: block;
}





/* sample bottle individual page styles */

.bottle-name {
    position: relative;
    width: 100%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border-bottom: 5px solid #2d333f;
    border-top: 5px solid #2d333f;
    background-color: #78938A;
    padding-bottom: 0;
}

.bottle-name h2 {
    justify-content: center;
    text-align: center;
    color: white;
}

.bottle-info {
    display: flex;
    flex-direction: row;
}