@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;

    height: 100px;
    width: 100%;
    background: #F1DDBF;

    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 90px;

    box-sizing: border-box;
    
}

nav .logo {
    color: #525E75;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin-right: 5px;
    
}

nav ul li a{
    color: #78938A;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
}

nav ul li a.hovered, nav ul li a:hover {
    background-color: #525E75;
}





.tile_set {
    padding-top: 5px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5em;
}

.tile{
    padding-top: 0px;
    margin: 5px;
    padding-bottom: 10px;
    width: fit-content;
    height: fit-content;
    background-color:rgb(249, 249, 242);
    border: 5px solid rgb(231, 231, 231);
    position: relative;
    display: inline-block;
}

.tile:hover {
    transform: scale(1.02);
    transition: 0.4s;
}

.tile_name {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    text-align: center;
    color:rgb(41, 38, 38);
}

.tile_img {
    align-self: center;
    margin: 0%;
    padding: 0px;
    background-position: 100%;
    height: 250px;
    width: 250px;
    position:relative;
}
