@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;

    height: 100px;
    width: 100%;
    background: #F1DDBF;

    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 90px;

    box-sizing: border-box;
    
}

nav .logo {
    color: #525E75;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin-right: 5px;
    
}

nav ul li a{
    color: #78938A;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
}

nav ul li a.hovered, nav ul li a:hover {
    background-color: #525E75;
}

.content {
    display: flex;
    flex-direction: row;
}

/* tiles */

.tiles-wrapper {
    padding-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tile {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 5px;
    background-color:#ccccb2d2;
    border: 5px solid #a1a9b8;
}

.tile:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.tile_name {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    text-align: center;
    color:#2d333f;
}

.tile_img {
    align-self: center;
    margin: 0%;
    padding: 0px;
    background-position: 100%;
    height: 250px;
    width: 250px;
    position:relative;
}




/* filters */

.search-filters {
    padding-top: 10px;
    max-height: fit-content;
    max-width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.row label {
    color: white;
}

.search-filters form {
    max-width: fit-content;
    max-height: fit-content;
    font-family: Arial Bold, sans-serif;
    min-width: 150px;
}

/* not expanded */
.search-filters form fieldset {
    size: 1px;
    max-height: 0;
    background-color: #525E75;
    border: none;
    outline: 0;
    padding: 3px;
    overflow: hidden;
}

/* expanded */
.search-filters form input:checked ~ fieldset {
    max-height: 400px;
}

.search-filters form .filter-title {
    display: none;
}

.search-filters form .filter {
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.search-filters form fieldset input {
    display: block;
}