img {
    position: relative;
    top: -10%;
    left: 10%;
    border: 3px solid #525E75;
}

.options{
    display: flex;
    flex-wrap: wrap;
    
    position: relative;
    
    top: 50%;
    left: -19%;
    height: 30px;
    width: 20%;
    
    background: #F1DDBF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20;
    
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;

    height: 100px;
    width: 100%;
    background: #F1DDBF;

    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 90px;

    box-sizing: border-box;
    
}

nav .logo {
    color: #525E75;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin-right: 5px;
    
}

nav ul li a{
    color: #78938A;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
}
